<div ng-controller="AuthCtrl">
	<row>
		
		<div class="col-md-9">
			<div ng-hide="loggedIn">
				<ul ng-repeat="item in cartItems">
					<li>
						<h2>{{item.title}}</h2> 

						<p>Price: {{item.price}}</p>
						<p>Description: {{item.description}}</p>
						<!-- <p>Category: {{item.category}}</p> -->
						<img class="img-rounded img-responsive" src="{{ item.imageUrl }}"/>
						<button type="button" class="btn btn-danger" ng-click="removeFromCart(sessionId, item)">Remove</button>
						<button type="button" class="btn btn-primary" ng-click="open('login')">Proceed to the Checkout area or login, or signup.</button>
					</li>
				</ul> 

				
			</div>
			
			<div ng-repeat="item in cartItems" ng-show="loggedIn">
				{{ item.productId }} - {{ item.price }}  
			</div>
		</div>
		
	<row>
</div>
